<form role="form" {{action "expenseSubmission" on="submit"}}>
  <div class="form-group">
    <label for="newExpenseDescription">Expense Description</label>
    {{input type="text" class="form-control" value=newExpenseDescription placeholder="Expense Description" id="newExpenseDescription"}}
  </div>
  <div class="form-group">
    <label for="cost">Expense Cost in {{currencySelected}}</label>
    {{currency-field amount=newExpenseCost}}
  </div>
  <button type="submit" {{bind-attr class=":btn :btn-primary :btn-block newExpenseDescription::disabled canSubmitNewForm::disabled"}}>Submit Item</button>
</form>