<form parsley-validate>
<table class="table">
  <thead>
    <tr>
      <th>USD</th>
      <th>{{currencySelected}}</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{view ExchangeRates.NumberField value=amountUSD class="form-control" min="0"}}</td>
      <td><div class="currency-conversion">{{formatCurrency USDToForeign}}</div></td>
    </tr>
    <tr>
      <td><div class="currency-conversion">{{formatCurrency ForeignToUSD}}</div></td>
      <td>{{view ExchangeRates.NumberField value=amountForeign class="form-control" min="0"}}</td>
    </tr>
  </tbody>
</table>
</form>