<form parsley-validate>
<table class="table">
  <thead>
    <tr>
      <th>USD</th>
      <th>{{currencySelected}}</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{currency-field amount=amountUSD}}</td>
      <td>{{formatCurrency USDToForeign}}</td>
    </tr>
    <tr>
      <td>{{formatCurrency ForeignToUSD}}</td>
      <td>{{currency-field amount=amountForeign}}</td>
    </tr>
  </tbody>
</table>
</form>